[Unit]
Description=SafeSquid extended log in web interface.

[Service]
User=ssquid
ExecStart=/usr/local/bin/websocketd --port=8081 --staticdir=/opt/monitor/websocket/ --dir=/opt/monitor/scripts/
# optional items below
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
