[Unit]
Description=SafeSquid extended log in web interface.

[Service]
User=ssquid
ExecStart=/usr/local/bin/websocketd --port=8081 --staticdir=/opt/monitor/websocket/ /opt/monitor/monitor.sh
# optional items below
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
